  <footer class="footer">
      <p id="footer">
        Take A Hike.<a class="footerLinks" href="https://github.com/QuitoMusic/Take_A_Hike/graphs/contributors"> By Francisco Gonzalez, Laryn Myrick, Amazing Grace, Alexis Vasquez and, Mijan Ramharrack
        </a>. The source code is licensed
        <a class="footerLinks" href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a class="footerLinks" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
Contribute to QuitoMusic/Take_A_Hike development by creating an account on GitHub. 
      </p>
</footer>