<section class="row">
  <div class = "column">
    <h1>Welcome your Hiking Dashboard!</h1>
    <h2>Create New Post</h2>

    <form class="newPostform">
      <div>
        <label for="postTitle">Title</label>
        <input type="text" id="postTitle" name="postTitle" />
      </div>
      <div>
        <label for="postText">Text</label>
        <textarea id="postText" name="postText"></textarea>
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </div>
  <div class = "aboutMe">
    <h2>About Me</h2>
    {{> userInformation}}
  </div>

</section>
{{#if posts.length}}
<section>
  <h2>Your Thoughts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> postInformation post}}
      <a href="/dashboard/edit/{{post.id}}">Edit Comment</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/addPost.js"></script>