<form class="loginForm">
  <div>
    <label for="emailLogin">Email:</label>
    <input type="text" id="emailLogin" />
  </div>
  <div>
    <label for="passwordLogin">Password:</label>
    <input type="password" id="passwordLogin" />
  </div>
  <div>
    <button class="loginFormbtn" type="submit">Login</button>
  </div>
</form>

<a href="/signup">New blogger? Sign up!</a>

<script src="/js/login.js"></script>