<form class="signupForm">
  <div>
    <label for="usernameSignup">Username:</label>
    <input type="text" id="usernameSignup" />
  </div>
  <div>
    <label for="emailSignup">Email:</label>
    <input type="text" id="emailSignup" />
  </div>
  <div>
    <label for="passwordSignup">Password:</label>
    <input type="password" id="passwordSignup" />
  </div>
  <div>
    <button type="submit">Sign up</button>
  </div>
</form>

<a id="loginLinkSU" href="/login">Log in</a>

<script src="/js/signup.js"></script>