/* General styles */
body, html {
  padding: 0;
  margin: 0;
}
body{
  background-image: url('../images/hiking_background.jpg');
  background-attachment: fixed; 
  background-size: cover;
}

.image-container {
  position: absolute;
  filter: invert(1);
  width: 440px; 
  height: 400px; 
  background-image: url('/images/hikingLogo.png'); 
  background-size: cover; 
  background-position: center; 
}

/* Links */
a {
  position: relative;
  text-decoration: none;
  color: black; 
  font-weight: bold;
  font-size: 20px; 
  transition: color .1s;
}

/* Buttons */
button {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.778);
  font-family: 'Leckerli One', cursive;
  font-size: 20px;
  background-color: rgba(0, 44, 0, 0.827); 
  border: 0;
  padding: 16px; 
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  opacity: 100%; 
  transition: background-color 0.4s ease-in-out
 
}

button:hover {
  background-color: rgba(27, 158, 27, 0.827); 
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.425);
  opacity: 1;
}


/* Form elements */
textarea {
  min-width: 640px; 
  min-height: 100px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px; 
  background-color: rgba(0, 44, 0, 0.827); 
  height: 150px;
}

#titleHeader {
  font-family: 'Leckerli One', cursive;
  font-size: 100px; 
  color: white;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.778);
}

#postListtitle{
  height: 100%;
  display: flex;
  position: relative;
  margin-top: 100px;
  bottom: 35px;
  justify-content: center;
  align-items: center;
  font-family: 'Leckerli One', cursive;
  color: white;
  font-size: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877);
}

#aboutUstitle{  
display: flex;
position: relative;
right: 80px;
justify-content: center;
align-items: center;
font-family: 'Leckerli One', cursive;
color: white;
font-size: 40px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877);
}


/* Navigation */
.homeNav {
  position: relative;
  right: 192px; 
  top: 25px;
}

#dashboardIntro{
  font-size: 40px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877);
  width: 700px;
}

.dashboardNav {
  position: relative;
  right: 192px; 
  top: 25px;
}

nav {
  display: inline-block;
  text-align: center;
  padding: 14px;
  color: black; 
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}

.loginForm{
  position: relative;
  top: 100px;
  margin-bottom: 150px;
}
 
.loginFormbtn {
  font-family: 'Leckerli One', cursive;
  margin-bottom: 10px;
  width: 200px;
  background-color: rgba(0, 63, 0, 0.895); 
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.774);
font-size: 20px;
}
.signupForm{
  margin-top: 78px;
}

#signupLink {
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-family: 'Leckerli One', cursive;
  font-size: 30px;
  color: white;
}
#signupLink:hover {
  color: white;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.877);
}

#dashboardLink {
  margin-left: 40px;
}

#dashboardLink, #homeLink, .logoutBtn{
  color: white;
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.593);
}

#content{
  color: white;
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.593);
}


.logoutBtn {
  font-size: 20px; 
  font-weight: bold;
  margin-left: 16px; 
  background-color: rgba(0, 52, 0, 0.827); 
}



/* Posts and comments */

#postTitle {
  border-radius: 5px;
  position: relative;
  left: 5px;
  margin-bottom: 32px; 
  line-height: 150%;
  padding: 2px;
  width: 640px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.774);
  background-color: rgba(255, 255, 255, 0.852);
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
}

.postInput{
  font-size: 20px;
}

.box{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.852);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
  margin-top: 20px;
  margin-bottom: 25px; 
  line-height: 380%;
  width: 1300px;
  padding: 0px;
  position: relative;
  top: 10px;
  bottom: 120px;
}

.title{
  border-radius: 6px;
  color: white;
  background-color: rgba(0, 44, 0, 0.86); 
  line-height: 20px;
  font-size: 11px;
  font-style: oblique;
}

.updateInput{
  width: 200px;
line-height: 150%;
border-style: solid;
border-radius: 10px;
border-width: 1px;
padding: 5px;
box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.425);
margin-bottom: 20px;
font-family: 'Libre Baskerville', serif;
}

.postList{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#userPostsection{
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 5px 5px rgb(0, 0, 0);
  font-size: 30px;
  color: white;
}

.postTitle{
  font-family: 'Leckerli One', cursive;
  font-size: 30px;
  color: white;
  font-style: normal;
  padding: 10px;
  position: relative;
  top: 10px;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.postTitle:hover{
  color: white;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.postComments{
  position:relative;
  left: 1200px;
  color:white;
}


.content{
  font-family: 'Libre Baskerville', serif;
  position:relative;
  left: 30px;
  bottom: 10px;
  color: black;
}

.aboutMepost{
  margin-bottom: 32px; 
  line-height: 150%;
  border-radius: 10px;
  padding: 5px;
  width: 590px;
  font-size: 30px;
  background-color: rgba(0, 44, 0, 0.827); 
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
}

#postText, #commentBody{
  line-height: 150%;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.774);
  background-color: rgba(255, 255, 255, 0.852);
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
}


#passwordLogin, #emailLogin{
margin-bottom: 20px;
width: 200px;
line-height: 150%;
border-style: solid;
border-radius: 10px;
border-width: 1px;
padding: 5px;
box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.425);
font-family: 'Libre Baskerville', serif;
}

.passwordLogin ,.emailLogin {
font-family: 'Leckerli One', cursive;
font-size: 25px;
color: white;
text-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.saveDeletebtns, .deletePostbtn, #addCommentbtn{
  margin-bottom: 32px; 
  background-color: rgba(0, 44, 0, 0.827); 
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
}

#addCommentbtn:hover{
  background-color: rgba(27, 158, 27, 0.827); 
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.425);
  opacity: 1;
}

.post .title {
  font-size: 20px; 
}

.post .title span {
  font-size: 15px; 
}

#editPostlink{
  position: relative;
  left: 1200px;
  bottom: 10px;
  font-family: 'Leckerli One', cursive;
font-size: 25px;
color: white;
text-shadow: 0px 5px 5px rgb(0, 0, 0);
}

#editPostlink:hover{
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}


.editPosttitles{
  font-family: 'Leckerli One', cursive;
  font-size: 25px;
  color: white;
  text-shadow: 0px 5px 5px rgb(0, 0, 0);
}

#editPosttitles{
  font-family: 'Leckerli One', cursive;
  font-size: 25px;
  color: white;
  text-shadow: 0px 5px 5px rgb(0, 0, 0);
}

#editPosttitles:hover{
  color: white;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 8px; 
  opacity: .6;
  color: black;
}

.comment {
  position: relative;
  padding: 16px; 
  margin-bottom: 30px; 
  background-color: #ffffffd7;
  border-radius: 20px;
}

#addCommentbtn{
  margin-bottom: 80px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-size: 20px; 
  color: white;
  width: 640px;
}

.btn{
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
  text-shadow: 0px 5px 5px rgb(0, 0, 0);
  font-family: 'Leckerli One', cursive;
  font-size: 25px;
  color: white;
  width: 640px;
}


.signupLink {
  position: relative;
  left: 80px;
  top: -10px;
}

form label {
  display: block;
}


#login {
  position: relative;
  top: 25px;
  right: 40px;
}

#loginLink {
  margin-right: 40px;
  margin-left: 40px;
 color: white;
 font-family: 'Leckerli One', cursive;
 text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.726);
}


main {
  flex: 1;
  padding: 32px 64px; 
}

/* Layout */
.row {
  display: flex;
}

.column {
  color: white;
 font-family: 'Leckerli One', cursive;
 text-shadow: 0px 0px 5px rgb(0, 0, 0);
  flex: 50%;
  padding: 20px; 
}

.aboutMe {
  flex: 50%;
  padding: 20px; 
  position: relative;
  top: 150px;
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-size: 40px; 
  color: white;
}

#editUserLink{
  position: relative;
  left: 460px;
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-size: 40px; 
  color: white;
}

#editUserLink:hover{
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.updateUser{
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-size: 25px; 
  color: white;
}

#updateUser{
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-size: 25px; 
  color: white;
}

#updateUsertitle{
  font-size: 40px; 
}

#usernameSignup, #emailSignup, #passwordSignup{
  margin-bottom: 20px;
  width: 200px;
  line-height: 150%;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px;
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.425);
}

.usernameSignup{
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-size: 25px; 
  color: white;
}

#loginLinkSU{
  position: relative;
  left: 120px;
  bottom: 45px;
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-size: 25px; 
  color: white;
}

.footer{
  padding: 5px; 
  display: flex;
  flex-direction: column;
   min-height: 100%;
   background-color: rgba(0, 44, 0, 0.827); 
   line-height: 30px;
   margin-bottom: 0px;
}

#footer{
  color:white;
  font-size: 15px;
  position: relative;
  top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.footerLinks{
  color:white;
  font-size: 12px;
}

.footerLinks:hover{
  color:white;
  text-shadow: 0px 2px 5px rgb(255, 255, 255);
}

#addressDropdown{
  border-radius: 5px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.852);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#aboutUstxt{
  font-family: 'Libre Baskerville', serif;
  background-color: rgba(0, 44, 0, 0.827); 
  color:white;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  width: 800px;
  align-items:center;
  margin-left: 37%;
  text-shadow: 0px 5px 5px rgb(0, 0, 0);
}

#mapRendered{
  position: relative;
  left: 950px;
  bottom: 50px;
  border-radius: 20px;
  filter: brightness(80%);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
}

#mapRendered:hover{
  filter: brightness(100%);
  transition: brightness 3s ease;
}

