body, html {
  padding: 0;
  margin: 0;
}

body{
  background-image: url('../images/hiking_background.jpg');
  background-attachment: fixed; 
  background-size: cover;
}

main {
  padding: 32px 64px; 
}

header {
  background-color: rgba(0, 44, 0, 0.827); 
  height: 100px;
}

#titleHeader {
  position: relative;
  display: flex;
  left: 30px;
  top: 10px;
  text-align: center;
  align-items: center;
  font-family: 'Leckerli One', cursive;
  font-size: 50px; 
  color: white;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.778);
}

nav {
  position: relative;
  bottom: 40px;
  right: 20px;
  display: flex;
  justify-content: right;
  color: black; 
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}

#dashboardLink, #homeLink, #logout{
  color: white;
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.593);
  margin-left: 30px;
}


button {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.778);
  font-family: 'Leckerli One', cursive;
  font-size: 20px;
  background-color: rgba(0, 44, 0, 0.827); 
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  opacity: 100%; 
  transition: background-color 0.4s ease-in-out
}

button:hover {
  background-color: rgba(27, 158, 27, 0.827); 
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.425);
  opacity: 1;
}

#aboutUstitle{  
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: 'Leckerli One', cursive;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877);
  }

  .image-container {
    filter: invert(1);
    opacity: 40%;
    position: absolute;
    left: 118px;
    top: 5px;
    width:100px; 
    height: 90px; 
    background-image: url('/images/hikingLogo.png'); 
    background-size: cover; 
  }

  #aboutUstxt{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    font-family: 'Libre Baskerville', serif;
    background-color: rgba(0, 44, 0, 0.827); 
    color:white;
    font-size: 20px;
    line-height: 30px;
    text-shadow: 0px 5px 5px rgb(0, 0, 0);
  }

  .box{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.852);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
  margin-top: 20px;
  margin-bottom: 25px; 
  padding: 0px;
  position: relative;
  top: 10px;
  bottom: 120px;
}

#mapRendered{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  filter: brightness(80%);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
}

#mapRendered:hover{
  filter: brightness(100%);
  transition: brightness 3s ease;
}

.postTitle{
  display: flex;
  font-family: 'Leckerli One', cursive;
  font-size: 15px;
  color: white;
  font-style: normal;
  padding: 10px;
  position: relative;
  top: 10px;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.postTitle:hover{
  color: white;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

#postTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.852);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
  margin-bottom: 10px;
  line-height: 30px;
  
}

#postListtitle{
  height: 100%;
  display: flex;
  position: relative;
  margin-top: 100px;
  bottom: 35px;
  justify-content: center;
  align-items: center;
  font-family: 'Leckerli One', cursive;
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877);
}

.postInfo{
  float: right;
  position: relative;
  right: 15px;
  bottom: 20px;
}

.postComments{
  position:relative;
  float: right;
  color:white;
  bottom: 20px;
  right: 15px;
}

.newPostform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#dashboardIntro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877);
  width: 500px;
}

.column {
  color: white;
 font-family: 'Leckerli One', cursive;
 text-shadow: 0px 0px 5px rgb(0, 0, 0);
 display: flex;
 flex-direction: column;
 position: relative;
 justify-content: center;
 align-items: center;
}

#addressDropdown{
  border-radius: 5px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.852);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.postInput{
  font-size: 20px;
}

#commentBody{
  line-height: 150%;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.774);
  background-color: rgba(255, 255, 255, 0.852);
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
}

.aboutMe {
  padding: 20px; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Leckerli One', cursive;
  font-size: 25px;
  text-shadow: 0px 0px 5px rgb(0, 0, 0); 
  color: white;
}

.aboutMepost{
  border-radius: 10px;
  padding: 5px;
  width: 590px;
  font-size: 30px;
  background-color: rgba(0, 44, 0, 0.827); 
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
}

#content{
  color: white;
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.593);
  font-size: 20px;
}

#editUserLink{
  position: relative;
  display:flex;
  justify-content: end;
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-size: 15px; 
  color: white;
}

#editUserLink:hover{
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

#postText, #commentBody{
  line-height: 150%;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.774);
  background-color: rgba(255, 255, 255, 0.852);
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
}

textarea {
  min-width: 640px; 
  min-height: 100px;
}

.npBtn{
  width: 300px;
}

#userPostsection{
  display: flex;
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 5px 5px rgb(0, 0, 0);
  font-size: 25px;
  color: white;
}

#editPostlink{
position: relative;
display: flex;
justify-content: end;
font-family: 'Leckerli One', cursive;
font-size: 15px;
color: white;
text-shadow: 0px 5px 5px rgb(0, 0, 0);
}

#editPostlink:hover{
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.editPosttitles{
  display: flex;
  position: relative;
  bottom: 20px;
  justify-content: center;
  font-family: 'Leckerli One', cursive;
  font-size: 25px;
  color: white;
  text-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.editPostform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#editPosttitles{
  font-family: 'Leckerli One', cursive;
  font-size: 15px;
  color: white;
  text-shadow: 0px 5px 5px rgb(0, 0, 0);
}

#editPosttitles:hover{
  color: white;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.postEditinfo{
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 20px;
  justify-content: center;
  font-family: 'Leckerli One', cursive;
  font-size: 15px;
  color: white;
  text-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.saveDeletebtns{
  position: relative;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#saveBtn, .deletePostbtn{
  display: flex;
  justify-content: center;
  margin-bottom: 32px; 
  margin-left: 20px;
  width: 100px;
  background-color: rgba(0, 44, 0, 0.827); 
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
}

#saveBtn:hover, .deletePostbtn:hover{
  background-color: rgba(27, 158, 27, 0.827); 
box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.425);
opacity: 1;
}

.commentForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#addCommentbtn{
  margin-bottom: 80px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
  font-family: 'Leckerli One', cursive;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-size: 20px; 
  color: white;
  width: 640px;
}

#addCommentbtn:hover{
  background-color: rgba(27, 158, 27, 0.827); 
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.425);
  opacity: 1;
}

.loginForm{
  position: relative;
  top: 100px;
  margin-bottom: 150px;
}
 
.loginFormbtn {
  font-family: 'Leckerli One', cursive;
  margin-bottom: 10px;
  width: 200px;
  background-color: rgba(0, 63, 0, 0.895); 
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.774);
font-size: 20px;
}

#signupLink {
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-family: 'Leckerli One', cursive;
  font-size: 30px;
  color: white;
}
#signupLink:hover {
  color: white;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.877);
}

#passwordLogin, #emailLogin{
  margin-bottom: 20px;
  width: 200px;
  line-height: 150%;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px;
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.425);
  }

  .signupForm{
    margin-top: 78px;
  }

  #loginLinkSU{
    position: relative;
    left: 120px;
    bottom: 35px;
    font-family: 'Leckerli One', cursive;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    font-size: 25px; 
    color: white;
  }

  .title{
    border-radius: 6px;
    color: white;
    background-color: rgba(0, 44, 0, 0.86); 
    line-height: 20px;
    font-size: 11px;
    font-style: oblique;
  }

  .passwordLogin ,.emailLogin {
    font-family: 'Leckerli One', cursive;
    font-size: 25px;
    color: white;
    text-shadow: 0px 5px 5px rgb(0, 0, 0);
    }

    .comment {
      position: relative;
      padding: 16px; 
      margin-bottom: 30px; 
      background-color: #ffffffd7;
      border-radius: 20px;
    }

    form label {
      display: block;
    }
    
    #loginLink {
      margin-right: 40px;
      margin-left: 40px;
     color: white;
     font-family: 'Leckerli One', cursive;
     text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.726);
    }

    .updateInput{
      margin-bottom: 20px;
  width: 200px;
  line-height: 150%;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px;
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.425);
    }

    #updateUser{
      font-family: 'Leckerli One', cursive;
      text-shadow: 0px 0px 5px rgb(0, 0, 0);
      font-size: 25px; 
      color: white;
    } 
    
    #updateUsertitle{
      font-size: 40px; 
    }

    #usernameSignup, #emailSignup, #passwordSignup{
      margin-bottom: 20px;
      width: 200px;
      line-height: 150%;
      border-style: solid;
      border-radius: 10px;
      border-width: 1px;
      padding: 5px;
      box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.425);
    }

    .usernameSignup{
      font-family: 'Leckerli One', cursive;
      text-shadow: 0px 0px 5px rgb(0, 0, 0);
      font-size: 25px; 
      color: white;
    }

    .footer{
      padding: 5px; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
       background-color: rgba(0, 44, 0, 0.827); 
       line-height: 30px;
      margin-top: 120px;
      position: relative;
    }
    
    #footer{
      color: white;
    }

    
.footerLinks{
  color:white;
  font-size: 12px;
}

.footerLinks:hover{
  color:white;
  text-shadow: 0px 2px 5px rgb(255, 255, 255);
}



@media (max-width: 768px) {
  header {
    height: 130px;
  }

  .image-container {
    left: 140px;
    width:100px; 
    height: 90px; 
  }

  #titleHeader {
    top: 30px;
    left: 110px;
    font-size: 30px; 
  }

  nav {
    display: flex;
    justify-content:space-between;
    top: 50px;
    font-size: 17px;
  }
  
  #dashboardLink, #homeLink, #logout{
    margin-left: 30px;
  }
  #mapRendered{
    width: 300px;
    position: relative;
    left: 22.5px;
    border-radius: 10px;
  }
  .box{
    width:350px;
    right: 40px;
    padding: 2px;
  }

  .postTitle{
    top: 0px;
  }

  .postInfo{
   top: 10px;
  }

  .title{
    height: 70px;
  }

  .postComments{
    top: -30px;
  }

  .content{
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 0px;
    padding: 4px;
  }

  #dashboardIntro{
    margin-top: 10px;
    font-size: 25px;
  }
  

  .column {
    color: white;
   font-family: 'Leckerli One', cursive;
   text-shadow: 0px 0px 5px rgb(0, 0, 0);
  }
  
  .row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  #addressDropdown{
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin: 10px;
  }

  .aboutMe {
    font-family: 'Leckerli One', cursive;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    font-size: 25px; 
    color: white;
    padding: 30px;
  }
  
  .aboutMepost{
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    font-size: 30px;
    background-color: rgba(0, 44, 0, 0.827); 
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.425);
  }
  
  #editUserLink{
    justify-content: center;
    margin-top: 20px;
    font-family: 'Leckerli One', cursive;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    font-size: 15px; 
    color: white;
  }
  
  #editUserLink:hover{
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
  }

 #commentBody{
    line-height: 150%;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.774);
    background-color: rgba(255, 255, 255, 0.852);
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
  }

  .postInput{
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 
  textarea{
    min-width: 300px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .newPost{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .npBtn{
    display: flex;
    position: relative;
    left: 2px;
    bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.774);
  }

  #userPostsection{
  justify-content: center;
  }

  #editPostlink{
    justify-content: center;
    }


#postTitle{
  margin-bottom: 20px;
}

  .editUserform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #updateUsertitle{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: #000000e7;
  }

  .postEditinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #addCommentbtn{
    width: 200px;
  }

  #saveBtn, .deletePostbtn{
    margin-left: 10px;
    margin-right: 10px;
  }

  .loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 50px;
    margin-bottom: 150px;
  }

  #signupLink {
    position: relative;
    font-size: 20px;
    left: 25px;
    top: -100px;
  }


.passwordLogin, .emailLogin{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  }

  .signupForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
  }

  #loginLinkSU{
    left: 100px;
    bottom: -10px;
    font-family: 'Leckerli One', cursive;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    font-size: 20px; 
    color: white;
  }

  .footer{
    margin-top: 0px;
  }

  #loginLink{
    position: relative;
    left: 50px;
  }

}



